.data-management-container {
  margin: 2rem auto;
  width: fit-content;
}

.data-management-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 3rem;
  border-radius: 2rem;
}

:host-context(.dark-theme) {
  .data-management-card {
    background: var(--gradient-card);
  }
}

.help-text {
  font-size: small;
  font-weight: 300;
}
