.type-toggle {
  width: 100%;
  margin-bottom: 1.5rem;
  display: flex;

  ::ng-deep {
    .mat-button-toggle {
      flex: 1;

      .mat-button-toggle-label-content {
        padding: 0.75rem 1.5rem;
        font-weight: 500;
      }
    }
  }
}

:host-context(.dark-theme) {
  .type-toggle ::ng-deep .mat-button-toggle {
    background-color: var(--bg-tertiary);
    color: var(--text-primary);

    &.mat-button-toggle-checked {
      background-color: var(--bg-accent);
      color: var(--text-primary);
    }
  }
}
