<div class="add-transaction-container">
  <app-transaction-type-toggle [selectedType]="type()" (typeChanged)="onTypeChanged($event)">
  </app-transaction-type-toggle>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="transaction-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required />
      @let title = form.get('title'); @if (title?.invalid && (title?.dirty || title?.touched)) {
      <mat-error>Title is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount" required />
      @let amount = form.get('amount'); @if (amount?.invalid && (amount?.dirty||amount?.touched)) {
      <mat-error>
        @if (amount?.errors?.['required']) { Amount is required } @else if (amount?.errors?.['min'])
        { Amount must be greater than 0 }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" required />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>@let date=form.get('date'); @if (date?.invalid &&(
      date?.touched||date?.dirty)) {
      <mat-error>Date is required</mat-error>
      }
    </mat-form-field>

    @if (type() === 'expense') {
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category</mat-label>
      <input
        type="text"
        matInput
        formControlName="category"
        [matAutocomplete]="auto"
        placeholder="Choose or type new"
      />
      <mat-autocomplete #auto="matAutocomplete">
        @for (cat of categories$ | async; track cat) {
        <mat-option [value]="cat">{{ cat }}</mat-option>
        } </mat-autocomplete
      >@let category=form.get('category'); @if (category?.invalid && (category?.dirty ||
      category?.touched)) {
      <mat-error>Category is required for expenses</mat-error>
      }
    </mat-form-field>
    }

    <app-submit-button
      label="{{ isEditMode() ? 'Save changes' : 'Add transaction' }}"
      loadingLabel="{{ isEditMode() ? 'Saving...' : 'Adding...' }}"
      [isSubmitting]="isSubmitting()"
      [disabled]="form.invalid"
    />
    <button mat-button type="button" class="cancel-btn" (click)="onCancel()">Cancel</button>

    <app-message-display
      [showSuccessMessage]="showSuccessMessage()"
      [showErrorMessage]="showErrorMessage()"
      [errorMessage]="errorMessage()"
    />
  </form>
</div>
