.skeleton-loader {
  background: linear-gradient(
    90deg,
    var(--shadow-color-sm) 25%,
    var(--shadow-color) 50%,
    var(--shadow-color-sm) 75%
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin-bottom: 0.75rem;

  @media (prefers-reduced-motion: reduce) {
    animation: none;
    background: var(--shadow-color-sm);
  }
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

:host-context(.dark-theme) .skeleton-loader {
  background: linear-gradient(
    90deg,
    var(--border-color-light) 25%,
    var(--border-color) 50%,
    var(--border-color-light) 75%
  );
  background-size: 200% 100%;
}
