<mat-card>
  <mat-card-title>Transactions</mat-card-title>
  <mat-card-content>
    @let transactions = transactions$ | async; @if (transactions){
    <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>Type</th>
        <td mat-cell *matCellDef="let transaction">
          @if (transaction.type === 'income'){
          <mat-chip class="income">
            {{ transaction.type | titlecase }}
          </mat-chip>
          }@else{
          <mat-chip class="expense"> {{ transaction.type | titlecase }} </mat-chip>}
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.title }}
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let transaction">
          @if (transaction.description){
          {{ transaction.description }}
          }@else{
          <em>—</em>}
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Category</th>
        <td mat-cell *matCellDef="let transaction">
          @if (transaction.type === 'expense'){
          {{ transaction.category }}
          }@else{
          <em>—</em>}
        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let transaction">
          @if (transaction.type === 'income'){
          <span class="amount">{{ transaction.amount | currency }}</span>
          }@else{
          <span class="amount">{{ transaction.amount | currency }}</span>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let transaction">
          {{ transaction.date | date : 'shortDate' }}
        </td>
      </ng-container>

      @let columnsToDisplay = ['title', 'type','description','category','amount','date'];
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
    </table>
    }
  </mat-card-content>
</mat-card>
