@use '../../../colors' as colors;
@use '@angular/material' as mat;

mat-card {
  margin: 1rem;
  padding: 1rem;
  transition: background 0.3s ease, color 0.3s ease;
}

mat-card-title {
  transition: color 0.3s ease;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th.mat-header-cell {
  text-align: left;
  transition: color 0.3s ease, background 0.3s ease;
}

td.mat-cell {
  vertical-align: middle;
  transition: color 0.3s ease, background 0.3s ease;
}

.amount {
  font-weight: bold;
  transition: color 0.2s ease;

  &.amount-income {
    color: colors.$income;
  }

  &.amount-expense {
    color: colors.$expense;
  }
}

mat-chip {
  @include mat.chips-overrides(
    (
      container-shape-radius: 1000px,
    )
  );
}

mat-chip.income {
  @include mat.chips-overrides(
    (
      label-text-color: colors.$income,
      outline-color: colors.$income,
    )
  );
}

mat-chip.expense {
  @include mat.chips-overrides(
    (
      label-text-color: colors.$expense,
      outline-color: colors.$expense,
    )
  );
}

:host-context(.dark-theme) {
  table,
  mat-paginator {
    background-color: #252d3d;
  }
  mat-card {
    background-color: #252d3d;
  }
  mat-card-title {
    color: #e0e0e0;
  }
  mat-card {
    background-color: #252d3d;
  }
  td.mat-cell {
    color: #b0b8c7;
    border-color: rgba(255, 255, 255, 0.1);
  }
  th.mat-header-cell {
    color: #e0e0e0;
    background-color: rgba(255, 255, 255, 0.05);
  }
}
