@use '@angular/material' as mat;
@use '../../../colors' as colors;

.cdk-focused {
  @include mat.button-overrides(
    (
      outlined-label-text-color: white,
      text-label-text-color: var(--text-primary),
    )
  );
}

.cdk-focused.mat-primary {
  background-color: colors.$balance;
}

.cdk-focused.mat-accent {
  background-color: var(--mat-sys-tertiary);
}

.cdk-focused.mat-warn {
  background-color: colors.$expense;
}
