@use './colors' as colors;
@use '@angular/material' as mat;
@include mat.core();

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}
