.submit-btn {
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

  ::ng-deep button {
    width: 100%;
  }

  ::ng-deep mat-icon {
    margin-right: 0.5rem;
    font-size: 18px;
  }
}
